body{
    font-family:"Roboto", sans-serif;
    background-color: #FFFFFF;
    font-size: 16px;
    color:#434455;
}
a {
    text-decoration: none;
}
img{
    display: block;
}
ul {
    list-style: none;
}
header{
    border-bottom: 1px solid #e7e9fc;
}
.header{
    display: flex;
}
.header .container{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-nav{
    display: flex;
    align-items: center;
}
.header-logo{
    margin-right: 76px;
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
}
.header-logo-word{
    color:#2e2f42;
}
.header-ul{
    display: flex;
    gap: 40px;
}
.header-li{
    padding: 24px 0;
}
.header-a{
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-nav:hover, .header-nav:focus{
    color:#404bbf;
}
.header-adress{   
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-adress-ul{
display: flex;
gap: 40px;
}
.header-adress:hover, .header-adress:focus{
    color: #404bbf;
}
.section-first{
    padding: 188px 0;
    background-color: #2e2f42;
}
.section-first-text{
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.section-first-button{
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.section-first-button:hover, .section-first-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}
.section-second{
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
   height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
 }
.section-second-text{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.section-second-ul{
    display: flex;
    gap: 24px;
}
.section-second-li{
width: calc((100% - 72px)/4);
}
.section-second-parsagraf{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.section-third{
    background-color: #F4F4FD;
    padding: 120px 0;
}
.section-third-text{
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}
.section-third-ul{
    display: flex;
    gap: 24px;
}
.section-third-card{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.section-third-card-name{
padding: 32px 0;
}
.section-third-card-text{
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.section-third-card-paragraf{
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.section-fours-text {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.section-fours-head{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.section-fours-paragraf{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;

}
.footer{
    background-color:#2e2f42;
}
.footer-paragraf{
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-logo-word {
    color: #f4f4fd;
}